/* All sizes cheatsheet:
(min-width: 1281px)
(min-width: 1025px) and (max-width: 1280px)
(min-width: 768px) and (max-width: 1024px) portrait
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
(min-width: 481px) and (max-width: 767px) small tablets and mobile landscape
(min-width: 320px) and (max-width: 480px) mobile portrait */



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    #medalions {
        display: flex;
        justify-content: center;
    }

  }
  



  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {

    header {
        padding: 0px 0px 40px 0px;
        font-size: 1.5rem;
    }

    
    #medalions {
        display: flex;
        justify-content: center;
    }
    #medalions img {
        width: 250px;
        height: 250px;
    }
    
  }



  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {

    header {
        padding: 0px 20px 40px 20px;
        font-size: 1.2rem;
    }

    #banner-container {
        background-color: #455359;
        height: 400px;
    }

    #title1 {
        text-align: right;
        font-size: 2.5rem;
        padding: 50px 50px 50px 50px;
      }

    .column-count {
        columns: 2;
    }

    #lifehack div {
        padding: 20px 20px;
        text-align: left;
    }

    #medalions {
        display: flex;
        justify-content: center;
    }
    #medalions img {
        width: 200px;
        height: 200px;
    }
    
  }



  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    header {
        padding: 0px 0px 30px 0px;
        font-size: 1.2rem;
    }
    
    .column-count {
        columns: 3;
    }


    #medalions {
        display: flex;
        justify-content: center;
    }
    #medalions img {
        width: 200px;
        height: 200px;
    }
    
  }



  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {

    header {
        padding: 0px 0px 30px 0px;
        font-size: 1.2rem;
    }

    #banner-container {
        height: 250px;
    }
    
    #banner1 {
        height: 300px;
    }

    #title1 {
      font-size: 1.8rem;
      padding: 20px 30px 0px 0px;
      text-align: right;

    }

    #title1 h4 {
        font-style: light;
        font-size: 0.6rem;
        text-align: right;
    }


    h3 {
        text-align: center;
    }

    p {
        text-align: left;
        font-size: small;
        line-height: 1.5;
        margin: 1px;

    }

    #work-life {
        text-align: center;
        padding: 50px 10px;
    }

    #lifehack {
        padding: 5px 5px 5px 5px;
        background-color: #FAF7F4;
    }

    #lifehack div {
        padding: 20px 20px;
    }

    .column-count {
        columns: 1;
    }

    
    #medalions img {
        width: 180px;
        height: 180px;
    }

    #contact {
        padding: 5px 5px 5px 5px;
    }

}



    
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (max-width: 480px) {
    
    header {
        padding: 0px 0px 30px 0px;
        font-size: 0.8rem;
        text-align: left;
    }

    #navigation {
        font-weight: light;
        letter-spacing: 0.2px;
        line-height: 1.5;

        display: flex;
        float: left;
        flex-direction: column-reverse;
        background-color: #A67153;
        color: #FAF7F4;
    }

    #navigation a:hover {
        background-color: #FAF7F4;
        color: #455359;
    }

   ul {
        padding: 5px 0px 0px 20px;
        margin: 0;
    }


    #banner-container {
        height: 140px;
    }
    
    #banner1 {
        height: 140px;
    }



    #title1 {
      font-size: 1.3rem;
      line-height: 200%;
      padding: 0px 5px 0px 0px;
      justify-content: flex-end;
    }

    #title1 h4 {
        font-style: light;
        font-size: 0.7rem;
        line-height: 200%;
        justify-content: flex-end;
    }

    h3 {
        text-align: center;
    }

    .navigation-item {
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        font-style: normal;
        font-weight: light;
        font-size: 0.9rem;
        letter-spacing: 0.1em;
        line-height: 120%;
        padding: 20px 10px 0px 20px;
    }

    h3 {
        margin: 0;
        font-size: 1.1rem;
    }

    p {
        text-align: justify;
        font-size: small;
        line-height: 1.5;
        margin: 1px;

    }

    #work-life {
        padding: 5px 25px;
    }

    #work-life p {
        text-align: justify;
        font-size: small;
        line-height: 1.5;
        margin: 1px;

    }

    #lifehack {
        padding: 5px 5px 5px 5px;
        background-color: #FAF7F4;
    }

    #lifehack div {
        padding: 20px 20px;
    }

    .column-count {
        columns: 1;
    }
    #medalions {
        display: flex;
        justify-content: center;
    }
    #medalions img {
        width: 170px;
        height: 170px;
    }

    #contact {
        padding: 5px 5px 5px 5px;
    }
    
  }
  